[push]
	default = upstream
	followTags = true
[core]
	trustctime = false
	editor = vim
	filemode = false
[color]
	ui = auto
	diff = always
[credential]
	helper = cache --timeout=3600
[merge]
	tool = meld
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	br = branch
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	hidden = "!f() { git ls-files -v \"$@\" | grep \"^[a-z]\"; }; f"
	ignored = "!f() { git status -s --ignored \"$@\" | grep \"^!!\"; }; f"
	last = log -1 --stat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	oops = commit --amend --no-edit
	st = status
	unhide = update-index --no-assume-unchanged
	unhide-all = update-index --really-refresh
	unstage = reset HEAD --
    hide = update-index --assume-unchanged
[user]
[mergetool "meld"]
	path = C:\\Program Files (x86)\\Meld\\Meld.exe
[color "diff"]
	meta = yellow
	meta = yellow
	frag = magenta
	whitespace = red
[pager]
	diff = diff-so-fancy | less --tabs=2 -RFX
	show = diff-so-fancy | less --tabs=2 -RFX
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
[status]
	showUntrackedFiles = all
